// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: white;
  font-family: Open Sans; // Using this variable
 }

 .container {
  margin: 0 auto;
  text-align: left;
 }

.question {
  margin: 30px 0;
}
 .response {
  background-color: rgb(255, 253, 225);
  margin: 30px 0;
 }


